@font-face {
    font-family: "PT-Serif";
    src: url(../fonts/PT_Serif/PTSerif-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Noto-Serif";
    src: url(../fonts/Noto_Serif/N)
}


%text-font {
    font-family: Noto Serif;
    color: #28514F;
    font-style: normal;
    font-weight: 600;
}

%text-font_size_m {
    font-family: Noto Serif;
    color: #28514F;
    font-style: normal;
    text-align: center;
    font-family: "Noto-Serif";
    font-style: normal;
    font-weight: 700;
}

%text-font_size_s {
    font-family: Noto Serif;
    font-style: normal;
    color: rgba(40, 81, 79, 0.50);
    font-weight: 500;
}

%text-font_size_xs {
    font-family: Noto Serif;
    font-style: normal;
    color: #65727B;
    font-weight: 400;
}

%text-font_size_l {
    font-family: Noto Serif;
    font-style: normal;
    color: #28514F;
    font-weight: 800;
}