@font-face {
    font-family: "PT-Serif";
    src: url(../fonts/PT_Serif/PTSerif-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Noto-Serif";
    src: url(../fonts/Noto_Serif/N)
}

%text-font {
    font-family: "Noto-Serif", sans-serif;
    color: #28514F;
    font-size: 4rem;
    font-weight: 600;
    line-height: 3.48rem;
}

%text-font_size_m {
    font-family: "Noto-Serif", sans-serif;
    color: #28514F;
    font-size: 3.625rem;
    font-weight: 700;
    line-height: 3.48rem;
}

%text-font_size_s {
    font-family: "Noto-Serif", sans-serif;
    color: rgba(40, 81, 79, 0.50);
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.25rem;
}

%text-font_size_xs {
    font-family: "Noto-Serif", sans-serif;
    color: #65727B;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 3.48rem;
}

%text-font_size_m {
    font-family: "Noto-Serif", sans-serif;
    color: #28514F;
    font-size: 3.625rem;
    font-weight: 800;
    line-height: 3.48rem;
}