$bg-color: #F9F7F4;
$green: #28514F;
$grey: #65727B;
$light-grey: #AEB4B6;
$dark-blue: #006EAF;
$light-blue: #D0E6F3;
$dark-purple: #694BA9;
$light-purple: #DAE1F4;
$light-green: #E0F0E6;
$light-beige: #F4F0E9;
$dark-yellow: #F2A700;
$light-yellow:#F8E6BE;