@import 'fonts';
@import 'vars';

* {
    box-sizing: border-box;
}

body {
    background: #F9F7F4;

    .container {
        max-width: 1440px;
        margin: 0 auto;

        .header {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 6.25rem;
            border-bottom: 2px solid rgba(40, 81, 79, 0.30);

            background: #F9F7F4;

            .logo {
                @extend %text-font_size_m;
                font-size: 3.625rem;
                font-style: normal;
                line-height: 3.48rem;
            }

            .header__date_and_time {
                display: flex;
                color: #28514F;
                @extend %text-font_size_m;
                font-size: 1.875rem;
                line-height: 3.48rem;
                margin: 2.19rem 5.75rem 1.87rem 4.44rem;

                .header__date_and_time__date {
                    padding: 0 1.62rem 0 0;
                }
            }

            .header__menu {
                display: flex;
                list-style-type: none;

                .header__menu__element {
                    text-decoration: none;
                    @extend %text-font_size_xs;
                    font-size: 1.5rem;
                    line-height: 1.41rem;
                    padding: 0 1.405rem 0 1.405rem;
                }
            }

            .header__button__login {
                border-radius: 3.125rem;
                background: #28514F;
                width: 9.75rem;
                height: 3.5rem;
                flex-shrink: 0;
                border: none;

                .header__button__login__text {
                    text-decoration: none;
                    color: #FFF;
                    @extend %text-font_size_m;
                    font-size: 1.625rem;
                    line-height: 1.41rem;

                }
            }
        }

        .block__task__header {
            @extend %text-font;
            font-size: 4rem;
            line-height: 3.48rem;
            margin: 5.25rem 0 6.69rem 0;
            display: flex;
            justify-content: center;
        }

        .block__task__input {
            display: flex;
            align-items: center;
            justify-content: center;

            .block__task__input__entry_field {
                width: 28.25rem;
                height: 5.125rem;
                border-radius: 2.5rem 0rem 0rem 2.5rem;
                background: #FFF;
                box-shadow: 0px 4px 0px 0px rgba(167, 167, 167, 0.16);
                border: none;
                @extend %text-font_size_s;
                color: rgba(40, 81, 79, 0.50);
                font-size: 2rem;
                line-height: 1.25rem;
                padding: 0 0 0 3.12rem;
            }

            .block__task__button {
                width: 11.84263rem;
                height: 5.125rem;
                border-radius: 0rem 2.5rem 2.5625rem 0.0625rem;
                background: #28514F;
                box-shadow: 0px 4px 0px 0px rgba(167, 167, 167, 0.16);
                border: none;

                .block__task__button__text {
                    text-decoration: none;
                    @extend %text-font_size_l;
                    color: #FFF;
                    font-size: 2rem;
                    line-height: 2.25rem;
                    text-transform: capitalize;
                }
            }
        }


        .block__task_list {
            //20.94rem
            margin: 5.38rem 0 5rem 0rem;
            display: flex;
            justify-content: center;

            .block__task_list__task {
                display: flex;
                // width: 2.1875rem;
                // height: 2.125rem;
                flex-shrink: 0;

                .checkbox-inline {
                    display: flex;

                    .block__task_list__task__text {
                        .task__text__list {
                            list-style: none;
                            @extend %text-font;
                            font-size: 1.5rem;

                            .task__text__list-item {
                                margin: 0 0.875rem 0.875rem 0;
                            }

                            .button__remove,
                            .button__archive {
                                border-radius: 3.125rem;
                                border: none;
                                width: 7.75rem;
                                height: 2.5rem;
                                flex-shrink: 0;
                                background-color: $green;
                                color: #FFF;
                                @extend %text-font_size_s;
                                font-size: 1.5rem;
                                line-height: 1.41rem;
                                cursor: pointer;
                                margin-right: 0.25rem;
                            }
                        }
                    }

                    .checkbox__task {
                        fill: #F4F0E9;
                        stroke-width: 4px;
                        stroke: #28514F;
                        fill: #F4F0E9;
                        stroke-width: 4px;
                        stroke: #28514F;
                    }

                    .checkbox__circle {
                        width: 2.1875rem;
                        height: 2.125rem;
                        flex-shrink: 0;
                        border-radius: 50%;
                        border: 2px solid #28514F;
                        background-color: transparent;

                    }

                    .block__task_list__task__text {
                        display: flex;
                        flex-direction: column;

                        align-items: center;

                        justify-content: center;
                        margin: 0 0 0 1.12rem;

                        .task__text__heading {
                            @extend %text-font;
                            font-size: 1.875rem;
                            margin: 0;
                        }

                        .task__text__comment {
                            @extend %text-font_size_s;
                            color: #65727B;
                            font-size: 1.25rem;
                            margin: 0;
                        }
                    }
                }
            }
        }

        .block__image {
            background: rgba(40, 81, 79, 0.70);
        }

        footer {
            padding: 1.13rem 6rem;

            .footer__logo {
                display: flex;
                flex-direction: column;

                .logo {
                    @extend %text-font_size_m;
                    font-size: 3.625rem;
                    font-style: normal;
                    line-height: 3.48rem;
                    text-align: start;
                }

                .footer__itgirls {
                    @extend %text-font_size_xs;
                    font-size: 1.25rem;
                    line-height: 1.25rem;
                    margin: 1.5rem 0 2rem 0;
                }
            }

            .footer__second {
                display: flex;
                align-items: flex-end;

                .footer__autors {
                    @extend %text-font_size_xs;
                    font-size: 1.25rem;
                    line-height: 1.25rem;
                    width: 21.375rem;
                    height: 2.875rem;
                }

                .footer__menu {
                    display: flex;
                    list-style-type: none;
                    padding: 0 0 0 12rem;

                    .footer__menu__element {
                        text-decoration: none;
                        @extend %text-font_size_xs;
                        font-size: 1.5rem;
                        line-height: 1.41rem;
                        padding: 0 1.405rem 0 1.405rem;
                    }
                }

                .footer__school_logo {
                    padding: 0 0 0 5.52rem;
                }
            }
        }
    }
}


// Стили для раздела с цитатами

.block__quotes {
    height: 50vh;
    text-align: center;
}

.block__quotes_header-text {
    @extend %text-font;
    font-size: 4rem;
    line-height: 3.48rem;
    margin: 10.25rem 0 6.69rem 0;
    display: flex;
    justify-content: center;
}

.block__quotes_quote-text {
    @extend %text-font;
    font-size: 1.875rem;
}



//адаптив планшет

@media (min-width:768px) and (max-width:1439px) {

    body {
        .container {
            .header {
                display: flex;
                justify-content: space-around;

                .logo {
                    margin: 0;
                }

                .header__date_and_time {
                    margin: 0;
                    padding: 0;

                    .header__date_and_time__date {
                        padding-right: 15px;
                    }

                }

                .header__menu {
                    display: flex;
                    justify-content: space-around;
                    padding: 0;
                    margin: 0;

                    .header__menu__element {
                        display: flex;
                        padding: 8px;
                    }
                }
            }

            footer {
                .footer__second {
                    padding: 0;
                    justify-content: space-between;
                    align-items: center;

                    .footer__autors {
                        height: 100%;
                    }

                    .footer__menu {
                        padding: 0;
                        display: flex;
                        justify-content: space-around;
                    }

                    .footer__school_logo {
                        padding: 0;
                    }
                }
            }

            .block__task_list {
                margin: 5.38rem 0 5rem 0rem;

                .block__task_list__task {

                    .checkbox-inline {

                        .block__task_list__task__text {
                            .task__text__list {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }

}

@media (min-width:767px) and (max-width:900px) {
    body {
        .container {
            .header {
                .header__date_and_time {
                    display: none;
                }
            }
        }
    }
}

//Адаптив мобильный
@media screen and (max-width:766px) {
    body {
        .container {
            .header {
                display: flex;
                flex-direction: column;
                justify-content: space-between;


                height: 100%;

                padding: 5px;

                .logo {
                    margin: 0;
                }

                .header__date_and_time {
                    //
                    margin: auto;
                    padding: 0;
                    // margin: 15px 0;

                    .header__date_and_time__date {
                        padding-right: 5px;
                        //margin: 0;
                    }

                }

                .header__menu {
                    display: flex;
                    justify-content: space-around;
                    padding: 0 0 15px 0;
                    margin: 0;
                    //padding-bottom: 15px;

                    .header__menu__element {
                        display: flex;
                        padding: 8px;
                    }
                }
            }

            .block__task__header {
                font-size: 3.5rem;
            }

            .block__task__input {
                .block__task__input__entry_field {
                    width: 100%;
                    padding-left: 0;
                }
            }

            .block__task_list {
                margin: 5.38rem 0 5rem 0rem;

                .block__task_list__task {

                    .checkbox-inline {
                        .block__task_list__task__text {
                            // display: flex;
                            // flex-direction: column;

                            // align-items: center;

                            // justify-content: center;
                            // margin: 0 0 0 1.12rem;

                            .task__text__heading {
                                // @extend %text-font;
                                // font-size: 1.875rem;
                                // margin: 0;
                                //padding-bottom: 20px;
                            }

                            .task__text__comment {
                                // @extend %text-font_size_s;
                                // color: #65727B;
                                // font-size: 1.25rem;
                                // margin: 0;
                            }
                        }

                        .block__task_list__task__text {
                            .task__text__list {
                                display: flex;
                                flex-direction: column;
                                padding: 0;
                                margin: 24px 0;
                                //font-size: 1rem;
                                //justify-content: center;
                                flex-wrap: wrap;
                                width: 100%;


                                .task__text__list-item {
                                    margin-right: 0;
                                    //font-size: 3rem;
                                    //width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-around;
                                    flex-wrap: wrap;
                                    // margin: 0 0.875rem 0.875rem 0;
                                }

                                .button__remove,
                                .button__archive {
                                    //border-radius: 2.125rem;

                                    // border: none;
                                    //width: 100%;

                                    //width: 5.75rem;

                                    // height: 2.5rem;
                                    // flex-shrink: 0;
                                    // background-color: $green;
                                    // color: #FFF;
                                    // @extend %text-font_size_s;

                                    //font-size: 1rem;

                                    // line-height: 1.41rem;
                                    // cursor: pointer;
                                    // margin-right: 0.25rem;
                                }
                            }
                        }
                    }
                }
            }

            footer {
                .footer__second {
                    padding: 0;
                    flex-direction: column;
                    //justify-content: center;
                    align-items: center;

                    .footer__autors {
                        width: 100%;
                        height: 100%;
                    }

                    .footer__menu {
                        padding: 0;
                        display: flex;
                        justify-content: space-around;
                    }

                    .footer__school_logo {
                        //display: flex;
                        //flex-direction: column;
                        //justify-content: center;
                        //align-items: center;
                        padding: 0;
                    }
                }
            }
        }
    }
}

//  @media screen and (min-width: 1440px)

//мобильный адаптив @media screen and (max-width: 424px) {}

//@media (min-width:767px) and (max-width:1440px)
//@media (min-width:320px) and (max-width:766px)